@use "reset";

// @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Zen+Kaku+Gothic+Antique:wght@400;500;700;900&display=swap');

* {
    user-select: none;
    //border: 1px solid red;

    &::-webkit-scrollbar {
        background-color: #FAF8F4;
        border-radius: 99px;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #9d9d9d;
        border-radius: 99px;
        width: 10px;

    }

    &::-webkit-scrollbar-track-piece {

        background: transparent;

    }
}

body {
    // font-family: "Gothic A1", sans-serif;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-style: normal;
    font-weight: 500;
    scroll-behavior: smooth;
    background-color: #FAF8F4;

    &::after {
        content: "";
        position: fixed;
        inset: 0;
        /* 等同 top:0;right:0;bottom:0;left:0; */
        pointer-events: none;
        background-image: url('/public/ricepaper2.png');
        background-size: auto;
        opacity: 0.7;
        mix-blend-mode: multiply;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
}

.navbar {

    .hamburger {
        position: fixed;
        z-index: 21;
        top: 10%;
        right: 1.2%;
        background-color: #FAF8F4;
        border: 1.5px solid #212121;
        padding: 15px;
        border-radius: 23px 5px 25px 20px;
        cursor: pointer;

        .bar {
            display: block;
            width: 24px;
            height: 3px;
            // background-color: #212121;
            margin: 5px auto;
            transition: 0.35s;
            background-image: url(../images/line2.svg);
            object-fit: cover;
            background-repeat: no-repeat;
        }

        &.is-active {
            .bar {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -6px);
                }
            }
        }
    }

    .menu {
        cursor: pointer;
        flex-direction: column;
        z-index: 20;
        opacity: 0;
        background-color: #FAF8F4;
        position: fixed;
        top: 8%;
        right: 0;
        width: 200px;
        height: 60vh;
        display: flex;
        // justify-content: center;
        align-items: start;
        transform: translateX(100%);
        transition: opacity .5s ease, transform .5s ease;
        border-radius: 30px 5px 30px 30px;
        border: 2px solid #212121;
        padding: 6rem 2rem 0 2rem;

        li {
            a {
                color: #212121;
                font-weight: 600;
                // mix-blend-mode: difference;
                font-family: "EB Garamond", serif;
                position: relative;
                margin-bottom: 1rem;
                font-size: 1.5rem;

                &::after {
                    content: "";
                    position: absolute;
                    color: #212121;
                    left: 0;
                    bottom: 7px;
                    width: 100%;
                    height: 10px;
                    background: currentColor;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }

        &.show {
            opacity: 1;
            transform: translateX(0);
        }


    }
}

// 封面區
.hero {
    width: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .hero-text {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 100%;
        z-index: 2;

        .letters {
            flex: 1;
            display: flex;
            text-transform: uppercase;

            >div {
                flex: 1;
                font-size: 10vw;
                font-weight: 400;
                color: #212121;
                text-align: center;
                position: relative;
                font-family: "EB Garamond", serif;
            }
        }
    }

    .hero-bg {
        .hero-content {
            position: relative;
            top: 0;
            height: 100vh;
            width: 100%;

            .hero-img {
                position: relative;
                display: block;
                top: 0;
                width: 100%;
                height: 100vh;
                background: #fff;
                clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);

                img {
                    position: relative;
                    display: block;
                    transform: scale(2);
                }
            }
        }
    }
}

// works
.worksinner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    z-index: 3;

    .works-images {
        display: flex;
        gap: 2vmin;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);

        .wimage {
            width: 40vmin;
            height: 56vmin;
            object-fit: cover;
            object-position: 100% 50%;
            flex-shrink: 0;
            border-radius: 8px;
        }
    }
}

.space {
    width: 100%;
    height: 80vh;
    position: relative;

    .ani1 {
        width: 400px;
        position: absolute;
        left: 34%;
        top: 70px;
        z-index: 4;
    }

    .ani2 {
        position: absolute;
        width: 230px;
        top: 50px;
        left: 150px;
    }

    .ani3 {
        position: absolute;
        width: 280px;
        bottom: 10px;
        right: 90px;
        transform: rotate(90deg);
    }

    .sp1 {
        position: absolute;
        width: 200px;
        height: 240px;
        top: 80px;
        left: 160px;
    }

    .sp2 {
        position: absolute;
        width: 400px;
        height: 300px;
        bottom: 25px;
        right: 30px;
        transform: rotate(5deg);
    }
}

// items
.itemsinner {
    width: 100%;
    // height: 120vh;
    position: relative;
    z-index: 3;
    // overflow: hidden;
    display: flex;
    padding-top: 16vh;
    padding-bottom: 15vh;

    .title {
        position: absolute;
        text-align: center;
        z-index: 2;
        left: 50%;
        top: 20%;
        font-size: 3rem;
        font-family: "EB Garamond", serif;
        transform: translateX(-50%);

        /*
        &::before {
            content: '';
            background-image: url(../images/deco02.png);
            width: 200px;
            height: 240px;
            object-fit: contain;
            object-position: center;
            position: absolute;
            background-repeat: no-repeat;
            top: -100%;
            right: -120%;

            @media (max-width:800px) {
                top: -150%;
                left: -150%;
            }
        }*/

        &::after {
            content: '';
            background-image: url(../images/line.svg);
            width: 180px;
            height: 10px;
            object-fit: cover;
            object-position: left;
            position: absolute;
            background-repeat: no-repeat;
            top: 80%;
            left: -15%;
        }
    }

    .itemwrapper {
        display: flex;
        margin: 0 12rem;
        width: 100%;

        @media (max-width:1440px) {
            margin: 0 2rem;
        }

        @media (max-width:680px) {
            flex-direction: column;
        }

        .item-left {
            margin-top: 2rem;
            height: 550px;
            width: 350px;
            // overflow: hidden;
            // border-radius: 200px 200px 10px 10px;

            @media (max-width:680px) {
                width: 100%;
                height: 350px;
                margin-top: 8rem;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .img-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 200px 200px 10px 10px;

                .img-layer {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    &.bg-img {
                        z-index: 1;
                    }

                    &.front-img {
                        z-index: 2;
                        clip-path: inset(0 0% 0 0);
                        /* 預設完全顯示 */
                    }
                }
            }
        }

        .item-right {
            flex: 1;
            padding: 0 2rem;
            margin-top: 30vh;

            @media (max-width:680px) {
                margin-top: .5rem;
                padding: 0;
            }

            .item-wrap {
                border-top: 2px solid #212121;

                .item-title {
                    font-size: 1.5rem;
                    font-weight: 700;
                    height: 3rem;
                    cursor: pointer;
                    // border-top: 2px solid #212121;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                    margin-top: 0.8rem;
                    position: relative;

                    /*
                    &::after {
                        content: '';
                        background-image: url(../images/line.svg);
                        width: 1210px;
                        height: 10px;
                        object-fit: cover;
                        position: absolute;
                        background-repeat: no-repeat;
                        top: 42px;
                        left: -25px;
                    }*/

                    p {
                        // padding-top: 1rem;
                        position: relative;
                        display: inline-block;
                        transition: transform 0.3s;

                        &:before {
                            position: absolute;
                            top: 103%;
                            content: attr(data-hover);
                            font-weight: 700;
                            transform: translate3d(0, 0, 0);
                        }
                    }

                    &:hover p,
                    &:focus p {
                        transform: translateY(-100%);
                    }

                    .line {
                        transition: transform 0.3s;

                        .bar {
                            display: block;
                            width: 36px;
                            height: 2px;
                            background-color: #212121;
                            margin: 5px auto;
                            transition: 0.35s;

                            &:nth-child(1) {
                                width: 24px;
                                transform: translate(-1px, 19px);
                            }

                            &:nth-child(2) {
                                transform: rotate(-45deg);
                            }

                            &:nth-child(3) {
                                width: 24px;
                                transform: rotate(90deg) translate(-7px, 12px);
                            }
                        }
                    }

                    &:hover .line {
                        transform: rotate(45deg);
                    }
                }

                .item-content {
                    display: flex;
                    margin: 0 2rem .8rem 6rem;
                    align-items: flex-start;
                    overflow: hidden;
                    height: 0;

                    @media (max-width:600px) {
                        margin: .5rem 1rem 1rem 1rem;
                    }
                }

                &:hover {
                    .item-title {
                        img {
                            animation: shake 2s infinite;
                        }
                    }
                }

                &:last-child {
                    border-bottom: 2px solid #212121;
                }
            }
        }
    }
}

// process
.processinner {
    width: 100%;
    position: relative;
    z-index: 3; // 高於hero-txt

    @media (max-width:500px) {
        margin-top: 15vh;
    }

    .title {
        text-align: center;
        font-size: 3rem;
        font-family: "EB Garamond", serif;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 7%;

        // transform: rotate(-5deg);

        /*
        &::before {
            content: '';
            background-image: url(../images/deco01.avif);
            width: 400px;
            height: 300px;
            object-fit: contain;
            object-position: center;
            position: absolute;
            background-repeat: no-repeat;
            top: -40%;
            right: 15%;
            transform: rotate(-5deg);

            @media (max-width:500px) {
                top: -230%;
            }
        }*/

        &::after {
            content: '';
            background-image: url(../images/line.svg);
            width: 230px;
            height: 10px;
            object-fit: cover;
            object-position: left;
            position: absolute;
            background-repeat: no-repeat;
            top: 90%;
            right: -2%;
        }
    }

    .process-wrap {
        display: flex;
        padding-top: 20vh;
        position: relative;

        @media (max-width:500px) {
            padding-top: 10vh;
        }

        .process-left {
            position: relative;
            // width: 20%;
            flex: 1;

            .process-text {
                .process-info {
                    height: 100vh;
                    display: flex;
                    margin-left: 5rem;
                    flex-direction: column;
                    justify-content: center;

                    @media (max-width:800px) {
                        margin-left: 2rem;
                    }

                    h2 {
                        font-size: 1.5rem;
                        font-weight: bold;
                        // text-align: center;
                        display: inline-block;
                        width: fit-content;
                        margin: 2rem auto 1rem;
                        // border-bottom: 2px solid #212121;
                        position: relative;

                        &::after {
                            content: '';
                            background-image: url(../images/line.svg);
                            width: 200px;
                            height: 10px;
                            object-fit: cover;
                            position: absolute;
                            background-repeat: no-repeat;
                            top: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    ul {
                        list-style: none;
                        padding: 0;

                        li {
                            &::before {
                                content: '︙';
                            }
                        }
                    }

                    p {
                        // margin: 5px 0 80px 0;
                        text-align: start;
                    }
                }
            }
        }

        .process-right {
            // width: 80%;
            flex: 3;
            height: auto;

            .process-right-b1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100vh;
                position: sticky;
                top: 0;

                .process-img {
                    width: 90%;
                    height: 60vh;
                    margin-left: 20px;
                    position: relative;

                    &-item {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                        }
                    }
                }
            }
        }
    }

}

// notice 
.noticeinner {
    position: sticky;
    top: 0;

    .notice-wrap {
        width: 100%;
        height: 110vh;
        background-color: #212121;
        overflow: hidden;
        position: relative;

        .notice-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20vh;
            height: 100%;

            .title {
                font-size: 3rem;
                font-family: "EB Garamond", serif;
                color: #e3e3e3;
                z-index: 3;
            }

            .n-directions {
                display: block;
                background-color: #e3e3e3;
                padding: 45px;
                border-radius: 25px;
                font-family: "Zen Kaku Gothic New", sans-serif;
                text-align: left;
                opacity: 0.85;

                ul {
                    li {
                        color: #000;
                        font-size: 1rem;
                        padding: 0.15rem 0;

                        &::before {
                            content: '︙';
                        }
                    }
                }
            }
        }

        .notice-plane {
            width: 100%;
            height: 100%;
            position: absolute;

            img {
                position: absolute;
                // width: 250px;
                height: 250px;
                object-fit: contain;
                object-position: center;
            }

            &:nth-of-type(3) {
                filter: brightness(0.7);

                img {
                    &:nth-of-type(1) {
                        left: -32%;
                        top: 50%;
                    }

                    &:nth-of-type(2) {
                        left: -20%;
                        top: 2%;
                    }

                    &:nth-of-type(3) {
                        left: 26%;
                        top: 33%;
                    }
                }
            }

            &:nth-of-type(2) {
                filter: brightness(0.6);

                img {
                    &:nth-of-type(1) {
                        left: 46%;
                        top: 48%;
                    }

                    &:nth-of-type(2) {
                        left: 30%;
                        top: 15%;
                    }

                    &:nth-of-type(3) {
                        right: 46%;
                        top: 42%;
                    }
                }
            }

            &:nth-of-type(1) {
                filter: brightness(0.5);

                img {
                    &:nth-of-type(1) {
                        left: 10%;
                        top: -10%;
                    }

                    &:nth-of-type(2) {
                        right: 32%;
                        top: 5%;
                    }
                }
            }
        }
    }
}

// contact
.contactinner {
    position: relative;
    z-index: 4;

    .contact-wrap {
        // height: 150vh;
        width: 100%;
        background-color: #FAF8F4;
        border-radius: 500px 500px 80px 80px;
        padding-top: 15vh;
        text-align: center;


        @media (max-width:420px) {
            gap: 10px;
        }

        .contact-desc {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                font-family: "EB Garamond", serif;
                flex-direction: column;
                position: relative;

                &::after {
                    content: '';
                    background-image: url(../images/line.svg);
                    width: 250px;
                    height: 10px;
                    object-fit: cover;
                    object-position: left;
                    position: absolute;
                    background-repeat: no-repeat;
                    top: 80%;
                    right: 0;
                }
            }

            ul {
                padding: 1rem 2rem;

                li {
                    text-align: left;
                    padding: .15rem 0;

                    &::before {
                        content: '︙';
                    }
                }
            }
        }

        .contact-form {
            display: flex;
            justify-content: center;
            align-items: center;

            .contact-lists {
                display: flex;
                flex-direction: column;
                /* li 垂直排，但 li 裡面是水平排 */
                justify-content: flex-start;

                .contact-list {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 4rem;
                    gap: 2rem;

                    @media (max-width:580px) {
                        flex-direction: column;
                        gap: 0;
                        margin-top: 2.5rem;
                    }

                    .contact-text {
                        width: 12rem;
                        text-align: left;
                        margin-right: 1rem;
                        font-weight: 700;
                    }

                    .contact-inputs {
                        flex: 1;
                        min-width: 0; // 不影響左邊文字
                        text-align: left;

                        input {
                            border: none;
                            background-color: transparent;
                            border-bottom: 1px solid #555;
                            padding-bottom: .5rem;

                            &:focus {
                                outline: none;
                                box-shadow: none;
                                /* 瀏覽器陰影也移掉 */
                            }

                            &::placeholder {
                                color: #b9b9b9;
                            }
                        }

                        select {
                            border: none;
                            width: 300px;
                            background-color: transparent;
                            border-bottom: 1px solid #555;
                            padding-bottom: .5rem;

                            option {
                                background-color: #FAF8F4;
                            }

                            &:focus {
                                outline: none;
                                box-shadow: none;
                                /* 瀏覽器陰影也移掉 */
                            }
                        }

                        textarea {
                            padding: .5rem;

                            &:focus {
                                outline: 2px solid #555;
                            }
                        }
                    }
                }
            }
        }

        .c-copy {
            border: none;
            background-color: transparent;
            font-size: 1.05rem;
            font-weight: bold;
            display: inline-block;
            position: relative;
            cursor: pointer;
            margin-top: 3rem;

            &:hover {
                &::after {
                    width: 100%;
                    left: 0;
                }
            }

            &::after {
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #282828;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

        }

        button {
            font-family: "EB Garamond", serif;
        }

        .copy-txt {
            position: absolute;
            left: 49%;
            display: block;
            // background-color: #212121;
            border-radius: 2px;
            border: 1.5px solid #212121;
            color: #212121;
            padding: .2rem;
            font-size: .8rem;
        }

        .connection {
            margin-top: 5%;
            display: flex;
            justify-content: center;
            gap: 80px;
            padding-bottom: 5%;

            button {
                position: relative;
                border: none;
                padding: 1.5rem 3.5rem;
                border-radius: 99px;
                background-color: transparent;
                cursor: pointer;
                border: 1px solid #212121;

                a {
                    overflow: hidden;
                    font-weight: 700;
                    font-size: 1.15rem;
                    color: #212121;

                    p {
                        &:before {
                            position: absolute;
                            top: 100%;
                            content: attr(data-hover);
                            font-weight: 700;
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }

                p {
                    position: relative;
                    display: inline-block;
                    transition: transform 0.3s;
                }

                &:hover p,
                &:focus p {
                    transform: translateY(-100%);
                }

                @media (max-width:580px) {
                    padding: 1.2rem 2rem;
                }
            }
        }

        img {
            position: absolute;
            bottom: 0;
            width: 400px;
            left: 10%;

            @media (max-width:1440px) {
                left: 2%;
            }

            @media (max-width:1200px) {
                display: none;
            }
        }
    }
}

.popup {
    position: fixed;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0 */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    .wrapper {
        background: #F5F5F5;
        padding: 1rem 2.5rem;
        border-radius: 8px;
        text-align: center;
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 3rem;
            font-family: "EB Garamond", serif;
            position: relative;
            margin-bottom: 1.5rem;

            &::after {
                content: '';
                background-image: url(../images/line.svg);
                width: 50vw;
                height: 10px;
                object-fit: cover;
                object-position: left;
                position: absolute;
                background-repeat: no-repeat;
                top: 80%;
                left: 0;
            }
        }

        .s-tablewrap {
            width: 50vw;

            .s-table {
                width: 100%;
                text-align: center;

                .t-header {
                    display: flex;
                    justify-content: space-between;
                    font-family: "EB Garamond", serif;
                    font-weight: 600;
                }

                .t-list {
                    display: flex;
                    justify-content: space-between;
                    margin: .8rem 0;
                }

                .t-item {
                    width: 6rem;
                }


            }
        }

        .s-up {
            text-align: end;
        }

        button {
            border: none;
            background-color: transparent;
            padding: 2px;
            align-self: flex-end;

            .bar {
                display: block;
                background-image: url(../images/line2.svg);
                width: 25px;
                height: 5px;
                background-repeat: no-repeat;
            }
        }
    }
}

footer {
    background-color: #212121;
    position: relative;
    height: 6vh;
    width: 100%;
    z-index: 3;
    text-align: center;

    p {
        display: inline-block;
        color: #dedede;
    }
}

// 共用區
h3 {
    span {
        display: inline-block;
        opacity: 0;
        transform: translateY(30px);
    }
}

.outlink {
    position: fixed;
    z-index: 21;
    bottom: 5%;
    right: 2%;

    .link {
        width: 8rem;
        height: 8rem;
        display: inline-block;
        font: 300 1.55rem/1.4 "Josefin Sans";
        text-transform: uppercase;
        letter-spacing: 0.1175em;
        word-spacing: 0.3em;
        text-decoration: none;

        @media (max-width:1440px) {
            width: 6rem;
            height: 6rem;
        }

        &__svg {
            width: 100%;
            height: auto;
            transform-box: fill-box;
            fill: #212121;
            stroke: #212121;
            stroke-width: 0.05em;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        &__cloud {
            transform-origin: 50% 50%;
            animation: rotate normal infinite 3 * 20s linear;
            fill: #faf8f450;
        }

        &__face {
            transform-origin: 50% 50%;
            transition: transform .3s / 2 cubic-bezier(0.32, 0, 0.67, 0);
        }

        &__text {
            animation: rotateReverse normal infinite 20s linear;
            transform-origin: 50% 50%;
        }

        &--alt {
            font-size: 1.15rem;
            letter-spacing: 0;
            word-spacing: 0;
        }

        &:hover {
            .link__text {
                animation-play-state: paused;
            }

            .link__face {
                transform: scale(1.1);
                transition: transform .3s cubic-bezier(0.33, 1, 0.68, 1);
            }
        }
    }

}



@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}